.navbar{
  width: 100%;
  height: 70px;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}


.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}


.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 5px 12px;
  border-radius: 20px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth-buttons a {
  text-decoration: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #fff;
  transition: 0.3s;
}

.auth-buttons a:hover {
  background-color: #ffcc00;
  color: #000;
}


.cart {
  position: relative;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-links {
    display: none;
  }

  .auth-buttons {
    gap: 8px;
  }

  .search-bar input {
    width: 80px;
  }
}